---
import Base from "../../layouts/Base.astro";

export async function getStaticPaths({ paginate }) {
  const quotes = await Astro.glob('./**/*.md');

  return paginate(quotes, { pageSize: 2 });
}
// All paginated data is passed on the "page" prop
const { page } = Astro.props;
---

<!--Display the current page number. Astro.params.page can also be used!-->
<!-- <h1>Page {page.currentPage}</h1>
<ul>
  {page.data.map(async (p) => {
  console.log("e", p.frontmatter);
  const {frontmatter} = p;
  return <li>{frontmatter.text}</li>
  })}
</ul> -->

<Base title="Quoke &mdash; a few quotations">
  {page.data.map(post => (
  <div class="quote">
    <div class="text">{post.frontmatter.text}</div>
    <div class="divider">&mdash;&mdash;</div>
    <div class="author">{post.frontmatter.author}</div>
    <div class="source">{post.frontmatter.source}</div>
  </div>
  ))}
  </Base>
  
  <style lang="scss">
    .quote {
      margin-bottom: 3em;
    }
  
    .text {}
  
    .divider {
      margin-top: .5em;
      margin-bottom: .5em;
      opacity: .2;
    }
  
    .author {
      font-weight: bold;
    }
  
    .source {
      margin-top: .25em;
      opacity: .7;
    }
  </style>