---
import type { QuoteFrontmatter } from "$lib/types";

import Base from "$layouts/Base.astro";
import { sortQuotesDescendingByTime } from "$lib/sorting"

export async function getStaticPaths({ paginate }) {
  const quotes = await Astro.glob<QuoteFrontmatter>("../lib/quotes/**/*.md");
  const sortedQuotes = sortQuotesDescendingByTime(quotes);
  return paginate(sortedQuotes, { pageSize: 3 });
}
// All paginated data is passed on the "page" prop
const { page } = Astro.props;
---

<Base title="Quoke &mdash; a few quotations">
{page.data.map(post => (
<div class="quote">
  <div class="text">{post.frontmatter.text}</div>
  <div class="divider">&mdash;&mdash;</div>
  <div class="author">{post.frontmatter.author}</div>
  <div class="source">{post.frontmatter.source}</div>
</div>
))}

{page.url.prev && <a href={page.url.prev}>Previous</a>}
{page.url.prev && page.url.next && <span> -- </span>}
{page.url.next && <a href={page.url.next}>Next</a>}
</Base>

<style lang="scss">
  .quote {
    margin-bottom: 3em;
  }

  .text {}

  .divider {
    margin-top: .5em;
    margin-bottom: .5em;
    opacity: .2;
  }

  .author {
    font-weight: bold;
  }

  .source {
    margin-top: .25em;
    opacity: .7;
  }
</style>